{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
    {%- assign is_filter_by_available = false -%}
    {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
      {%- assign is_filter_by_available = true -%}
    {%- endif -%}

    {%- assign is_vendor_or_type_collection = false -%}
    {%- if collection.current_type != blank or collection.current_vendor != blank -%}
      {%- assign is_vendor_or_type_collection = true -%}
    {%- endif -%}


      <div class="page-width">
        <div class="deodorant-collection-hero row">
          <div class="col-sm-6">
            <div class="deodorant-collection-hero__title-wrapper mt-3 mt-sm-0 mb-5 mb-sm-0">
              <h1 class="deodorant-collection-hero__title ">
                <span role="text">
                  <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
                  {{ collection.title }}
                </span>
              </h1>
              {% if collection.description != blank %}
                <div class="rte collection-description">
                  {{ collection.description }}
                </div>
              {% endif %}
              <p><strong>Available in 3 fragrances</strong></p>
              <div><a class="btn btn--primary" href="#Collection">Shop Now</a></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="deodorant-collection-hero__image">
              <img loading="lazy" src="{{ collection.image | img_url: '450x450', scale: 2 }}" > 
            </div>
          </div>

  
       
      </div>

      <ul class="deodorant-feature-icons row mt-5 mb-2 pb-sm-5 mb-sm-5">
        <li class="col-sm-3 deodorant-feature-icon mb-3 mb-sm-0">
          <div class="deodorant-image"><img loading="lazy"
              src="https://www.datocms-assets.com/49186/1677265651-gentle-on-your-skin.svg" alt="Gentle on your skin"></div>
          <h3>Gentle on your skin</h3>
          <p class="text-sm">Aluminium-based deodorants can be harsh on the skin, causing rashes, itching, and dryness. Our aluminium-free deodorants are made with gentler ingredients and are suitable for those with sensitive skin.</p>
        </li>
        <li class="col-sm-3 deodorant-feature-icon mb-3 mb-sm-0">
          <div class="deodorant-image"><img loading="lazy"
              src="https://www.datocms-assets.com/49186/1677265648-improved-fragrance.svg" alt="Improved fragrance"></div>
          <h3>Improved fragrance</h3>
          <p class="text-sm">Our aluminium-free deodorants contain natural fragrances, such as essential oils, that provide a fresh and pleasant scent. These fragrances are milder and more subtle than the fragrances found in conventional deodorants.</p>
        </li>
        <li class="col-sm-3 deodorant-feature-icon mb-3 mb-sm-0">
          <div class="deodorant-image"><img loading="lazy"
              src="https://www.datocms-assets.com/49186/1677265645-no-white-marks.svg" alt="No white marks"></div>
          <h3>No white marks</h3>
          <p class="text-sm">Aluminium-based deodorants can leave white marks on clothing, making them unsightly and embarrassing. Our aluminium-free deodorants go on clear, reducing the risk of white marks on clothing.</p>
        </li>
        <li class="col-sm-3 deodorant-feature-icon mb-3 mb-sm-0">
          <div class="deodorant-image"><img loading="lazy"
              src="https://www.datocms-assets.com/49186/1677265641-better-for-the-planet.svg" alt="Better for the planet"></div>
          <h3>Better for the planet</h3>
          <p class="text-sm">Most conventional deodorants contain microplastics, which can harm the environment when they reach the oceans. Our deodorants are made with all-natural ingredients, and minimal packaging, reducing the impact on the environment.</p>
        </li>
      </ul>

      <div class="featured-reviews">
        <h2 class="text-center pb-5 mb-5">Over 30+ 5 star reviews</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="review mb-5 mb-sm-0">
              <h3>Love it!</h3>
              <div><img loading="lazy" src="https://res.cloudinary.com/earthbar/image/upload/v1677282925/five-stars_kkxqrd.svg" /></div>
              <p>Loved it so much I purchased another one. It spreads easily upon application, smells beautiful, lasts a long
                time unless I go for a big run (which I would put on again afterwards) and is literally little to no waste!
              </p>
              <p><strong>~ J</strong></p>
            </div>
          </div>
          <div class="col-sm-4">

            <div class="review mb-5 mb-sm-0">
              <h3>World class!</h3>
              <div><img loading="lazy" src="https://res.cloudinary.com/earthbar/image/upload/v1677282925/five-stars_kkxqrd.svg" /></div>
              <p>I have been using this deodorant for years. It is the best product I have ever used even before you consider
                the ethical nature of is manufacturing. Love the cardboard, love the NZ natural ingredients, love the not-Lynx
                aroma.</p>
              <p><strong>~ Simon B</strong></p>
            </div>
          </div>
          <div class="col-sm-4">

            <div class="review mb-5 mb-sm-0">
              <h3>My new favourite deodorant</h3>
              <div><img loading="lazy" src="https://res.cloudinary.com/earthbar/image/upload/v1677282925/five-stars_kkxqrd.svg" /></div>
              <p>I’m trying to move away from chemicals and plastic packaging so have tried a few block deodorants and this
                one is by far the best. This is my new deodorant from now on.</p>
              <p><strong>~ Natalia</strong></p>
            </div>
      
          </div>
        </div>
      </div>

      {% if is_filter_by_available == false and section.settings.sort_enable == false %}
        <div class="page-width">
          <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
        </div>
      {% endif %}
      
  
    {% if is_filter_by_available or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper{% if is_filter_by_available %} filters-toolbar--has-filter{% endif %}">
        <div class="page-width">
          <div class="filters-toolbar">
            <div class="filters-toolbar__item-wrapper">
              {% if section.settings.tags_enable and is_vendor_or_type_collection == false %}
                {% unless collection.all_tags.size == 0 %}
                  <div class="filters-toolbar__item-child">
                    <label class="filters-toolbar__label select-label" for="FilterTags">{{ 'collections.filters.title_tags' | t }}</label>
                    <div class="filters-toolbar__input-wrapper select-group">
                      <select class="filters-toolbar__input hidden" name="FilterTags" id="FilterTags" aria-describedby="a11y-refresh-page-message">
                        {% if current_tags %}
                          {% if collection.handle %}
                            <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
                          {% elsif collection.current_type %}
                            <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
                          {% elsif collection.current_vendor %}
                            <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                          {% endif %}
                        {% else %}
                          <option value="">{{ 'collections.filters.all_tags' | t }}</option>
                        {% endif %}
                        {% for tag in collection.all_tags %}
                          <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                        {% endfor %}
                      </select>
                      {% include 'icon-chevron-down' %}
                    </div>
                  </div>
                {% endunless %}
              {% endif %}

              {% if section.settings.sort_enable %}
                <div class="filters-toolbar__item-child">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <label class="filters-toolbar__label select-label" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                  <div class="filters-toolbar__input-wrapper select-group">
                    <select name="SortBy" id="SortBy" class="filters-toolbar__input hidden" aria-describedby="a11y-refresh-page-message">
                      <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                      <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                      <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                      <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                      <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                      <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                      <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                      <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                    </select>
                    {% include 'icon-chevron-down' %}
                  </div>
                  <input id="DefaultSortBy" type="hidden" value="{{ collection.default_sort_by }}">
                </div>
              {% endif %}
            </div>

            <div class="filters-toolbar__item filters-toolbar__item--count">
              <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </header>

  <div class="page-width" id="Collection">
    {% if section.settings.layout == 'grid' %}
      {% comment %} {% case section.settings.grid %}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when 4 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when 5 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {% endcase %} {% endcomment %}

      {%- assign grid_item_width = 'medium-up--one-third' -%}


      <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% for product in collection.products %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            {% include 'product-card-grid', max_height: max_height %}
          </li>
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <li class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </li>
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <ul class="list-view-items">
        {% for product in collection.products %}
          <li class="list-view-item">
            {% include 'product-card-list', product: product %}
          </li>
        {% else %}

          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
            {% for i in (1..4) %}
              <li class="list-view-item">
                <a href="#" class="list-view-item__link">
                  <div class="list-view-item__image-column">
                    <div class="list-view-item__image-wrapper">
                      <div class="list-view-item__image">
                        {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    </div>
                  </div>

                  <div class="list-view-item__title-column">
                    <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                  </div>

                  <div class="list-view-item__price-column">
                    <span class="product-price__price">$19.99</span>
                  </div>
                </a>
              </li>
            {% endfor %}
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>
</div>

{% endpaginate %}



{% schema %}
{
  "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fr": "Pages de collections",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "pt-BR": "Páginas de coleções"
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fr": "Mise en page",
        "it": "Layout",
        "ja": "レイアウト",
        "pt-BR": "Layout"
      },
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": {
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fr": "Grille",
            "it": "Griglia",
            "ja": "グリッド",
            "pt-BR": "Grade"
          }
        },
        {
          "value": "list",
          "label": {
            "de": "Liste",
            "en": "List",
            "es": "Lista",
            "fr": "Liste",
            "it": "Elenco",
            "ja": "リスト",
            "pt-BR": "Lista"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "de": "Produkte per Reihe (nur Raster)",
        "en": "Products per row (grid only)",
        "es": "Productos por fila (solo cuadrícula)",
        "fr": "Produits par rangée (grille uniquement)",
        "it": "Prodotti per riga (solo griglia)",
        "ja": "行あたりの商品数（グリッドのみ）",
        "pt-BR": "Produtos por linha (somente grade)"
      },
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "de": "Reihen per Seite (nur Raster)",
        "en": "Rows per page (grid only)",
        "es": "Filas por página (solo cuadrícula)",
        "fr": "Rangées par page (grille uniquement)",
        "it": "Righe per pagina (solo griglia)",
        "ja": "ページあたりの行数（グリッドのみ）",
        "pt-BR": "Linhas por página (somente grade)"
      },
      "default": 2,
      "min": 2,
      "max": 8,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": {
        "de": "Kategorie-Foto anzeigen",
        "en": "Show collection image",
        "es": "Mostrar imagen de la colección",
        "fr": "Afficher l'image de la collection",
        "it": "Mostra immagine collezione",
        "ja": "コレクションの画像を表示する",
        "pt-BR": "Exibir imagem da coleção"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "de": "Produkt-Lieferanten anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "pt-BR": "Exibir fornecedores do produto"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "de": "Sortieren erlauben",
        "en": "Enable sorting",
        "es": "Habilitar la función ordenar",
        "fr": "Activer le tri",
        "it": "Permetti di ordinare",
        "ja": "並べ替えを有効にする",
        "pt-BR": "Ativar classificação"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fr": "Activer le filtrage par balises",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "pt-BR": "Ativar filtragem de tags"
      },
      "default": true
    }
  ]
}
{% endschema %}
