{% comment %} {% include 'store.js' %} {% endcomment %}
<div id="product-page">
<div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.image_size }}-image{% endif %}">
    <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% render 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div
          id="{{ zoom_img_id }}"
          style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"
          class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}"
          data-image-id="{{ image.id }}"
          {% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 tabindex="-1"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% render 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% render 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }} pl-sm-8">
      <div class="product-single__meta mb-7">

        <h1 class="product-single__title">{{ product.title }}</h1>

        <div class="mb-3">
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
        </div>

        

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% if section.settings.show_quantity_selector %}
            <div id="error-quantity-{{ section.id }}" class="form-message form-message--error product__quantity-error hide" tabindex="-1">
              {% render 'icon-error' %} {{ 'products.product.quantity_minimum_message' | t }}
            </div>
          {% endif %}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}

          <div class="form-spacer"></div>
          

          {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}
            <div class="  ">
              <div class="product__price">
                {% render 'product-price', variant: current_variant %}
              </div>
            </div>
            {% unless current_variant.available %}
              <p class="mb-1">{{ product.metafields.my_fields.out_of_stock_message.value }}</p>
            {% endunless %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select @change="variant_from_options" v-model="variant_selection.option{{ option.position }}" class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

           <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select> 


            
            <div class="quantity-add-wrapper">
              {% if section.settings.show_quantity_selector %}
                {% if current_variant.available %}
                  <div class="product-form__item product-form__item--quantity">
                    <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                    <button :disabled="quantity == 1" type="button" class="btn btn--link d-none d-sm-inline" @click="quantity--" >-</button>
                    <input type="number" id="Quantity-{{ section.id }}" v-model="quantity" min="1" class="product-form__input" pattern="[0-9]*">
                    <button type="button" class="btn btn--link d-none d-sm-inline" @click="quantity++"  >+</button>
                  </div>
                {% endif %}
              {% endif %}
              <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
                <button @click.prevent="handleAddToCart(current_variant_id, quantity)" type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                  <template v-if="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="ml-1">Adding to cart...</span>
                  </template>
                  <template v-else>
                    {% include 'icon-cart' %}
                    <span id="AddToCartText-{{ section.id }}">
                      {% unless current_variant.available %}
                        {{ 'products.product.sold_out' | t }}
                      {% else %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% endunless %}
                    </span>
                </template>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}
         
          <div class="cart-error d-flex justify-content-between" v-if="errorMessage" >
            <div class="mr-4">{% render 'icon-error' %}</div>
            <div>
              <p>Max quantity available reached</p>
              <div v-html="errorMessage"></div>
            </div>
            <div class="ml-4">
              <button class="close-btn" @click="dismissError"> {% render 'icon-close' %}</button>
            </div>
          </div>
          

        </div>

        {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>

       

        <div class="tabs" >
          <div class="tab-buttons">
            <button type="button" :class="{'active': activeTab === 'description' }" @click="activeTab = 'description'">Description</button>
            <button v-if="ingredients.length" type="button" :class="{'active': activeTab === 'ingredients' }" @click="activeTab = 'ingredients'">Ingredients</button>
            {% if product.type == 'Soap' %}<button  type="button" :class="{'active': activeTab === 'notes' }" @click="activeTab = 'notes'">Notes</button>  {% endif %}
          </div>
          <div v-if="activeTab === 'description'" >
             {% comment %} Feature Icons {% endcomment %}
            <div v-if="collection">
              <div v-if="collection.featureIcons">
                <ul class="feature-icons row mt-5 mb-2">
                  <li class="feature-icon" v-for="featureIcon in collection.featureIcons">
                    <div class="feature-icon-image"><img loading="lazy" :src="featureIcon.icon.url" alt="featureIcon.title" /></div>
                    <h3 class="text-sm">${ featureIcon.title }$</h3>
                  </li>
                </ul> 
              </div> 
            </div>
            <div class="product-single__description rte">
              {{ product.description }}
              {% if product.type == 'Soap' %}
              <a style="border:none" class="d-flex pb-0 align-items-center" href="/collections/soap/products/recycled-wood-soap-trap">
                <div class="mr-3"><img width="150" loading="lazy" src="https://cdn.shopify.com/s/files/1/0049/9990/5350/products/dish_300x300.jpg" alt="Recycled Timber Soap Tray"/></div>
                <div>
                  <h3 class="text-base mb-2">The ideal companion for your favourite soap!</h3>
                  <p>Prolong the life of your soap by keeping it dry with this <span class="fake-link font-weight-bold">Recycled Timber Soap Tray</span></p>
                </div>
              </a>
              {% endif %}
            </div>
          </div>
          <div v-if="activeTab === 'ingredients'">
            <p>${allIngredients}$</p>
          </div>

         
          <div v-if="activeTab === 'notes'">
          {% if product.type == 'Soap' %}
            <div >
              <p>This soap is made from scratch with the cold process method, using quality oils that produces a gentle and bubbly soap. It contains no artificial colours or scents. </p>
              <p>Due to 100% handcrafted products, the size, colour and shape may slightly vary from the picture. </p>
              <p>Handmade soap will last a long time if kept dry between uses. We recommend using a draining soap dish and keeping bars away from direct streams of water.</p>
            </div>
          {% endif %}
          </div>

        </div>


        {% if section.settings.show_share_buttons %}
          <div class="mt-4"> 
            {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          </div>
        {% endif %}
       

        
    </div>
  </div>
</div>
<div class="page-width mt-6" v-if="ingredients">
  <hr>
  <h2 class="mb-5">Key Ingredients</h2>
  <div class="row">
    <div class="col-sm-3 ingredient" v-for="ingredient in ingredients">
      <div><img loading="lazy" :src="ingredient.image.url" :alt="ingredient.title"/></div>
      <h3 class="text-center">${ingredient.title}$</h3>
      <h4 class="text-center">${ingredient.subTitle}$</h4>
      <p>${ingredient.description}$</p>
    </div>
  </div>   
</div>

<hr class="my-7">
<div class="page-width mt-6">
{% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
</div>

{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% render 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<script>
  
  const ProductPageOptions = {
    name: 'Product Page',
    delimiters: ["${", "}$"],
    data() {
      return {
        loading: false,
        errorMsg: null,
        quantity: 1,
        current_variant_id: '{{ product.selected_or_first_available_variant.id }}',
        productHandle:  '{{ product.handle }}',
        collectionHandle: '{{ product.type }}',
        ingredients: [],
        collection: null,
        allIngredients: null,
        activeTab: 'description',
        variant_selection: {
          option1: "{{ product.options_with_values[0].selected_value }}",
          option2: "{{ product.options_with_values[1].selected_value }}",
          option3: "{{ product.options_with_values[2].selected_value }}"
        },
        variants: [
          {% for variant in product.variants %}
            {
              id: "{{variant.id}}",
              available: {{ variant.available }},
              option1: "{{ variant.option1 }}",
              option2: "{{ variant.option2 }}",
              option3: "{{ variant.option3 }}",
              price: "{{ variant.price | money }}",
              {% assign img_url = variant.image.src | img_url: '500x', scale: 2 %}
              image: "{% unless img_url contains 'no-image' %}{{ img_url }}{% endunless %}"

            },
          {% endfor %} 
        ],
        fallback_product_image: "{{ featured_image | img_url: '500x', scale: 2 }}"
      }
    },
    methods: {
      async handleAddToCart(id, quantity) {
        this.error = ''
        this.loading = true
        try {
          await store.dispatch('add_to_cart', {id, quantity});
        } catch (e) {
          this.error = e
        }
        this.loading = false
      },
      dismissError() {
        store.dispatch('dismiss_error');
      },
      variant_from_options() {
        const variant = this.variants.find((variant) => {
          var match = true;
          if(variant.option1 != '') {
            match = variant.option1 == this.variant_selection.option1
          }
          if(match && variant.option2 != '') {
            match = variant.option2 == this.variant_selection.option2
          }
          if(match && variant.opition3 != '') {
            match = variant.option3 == this.variant_selection.option3
          } 
          return match;
        });
        this.current_variant_id = variant.id
      }
    },
    computed: {
      collectionHandleLowercase() {
        return this.collectionHandle.toLowerCase().replace(/ +/g, '-');
      },
      errorMessage() {
        return store.state.error
      }
    },
    mounted() {
      const token = "719cac69bfc8f603ffe738c5b71d6e";
      fetch("https://graphql.datocms.com/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: `Bearer ${token}`
        },
        body: JSON.stringify({
          variables: {},
          query: ` 
            query {
              collection(filter: {shopifyCollectionHandle: {eq: "${this.collectionHandleLowercase}"}}) {
                title
                featureIcons {
                  icon {
                    url
                  }
                  title
                }
              }
              product(filter: { shopifyReference: {eq: "${this.productHandle}"}}) {
              id
              allIngredients
              ingredients {
                title
                description
                subTitle
                image {
                  url(imgixParams: {w: "200", h: "200", crop: focalpoint})
                }
              }
            }
          }
          `
        })
      })
      .then((res) => res.json())
      .then((res) => {
        if(res.data.product) {
          this.ingredients = res.data.product.ingredients;
          this.allIngredients = res.data.product.allIngredients
        }
        this.collection = res.data.collection;
      })
      .catch((error) => {
        console.log(error);
      });
    }
  }



  const ProductPage = Vue.createApp(ProductPageOptions)
  ProductPage.mount('#product-page');
  ProductPage.use(store)
</script>

{% schema %}
{
  "name": {
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fr": "Pages de produits",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "pt-BR": "Páginas de produtos"
  },
  "settings": [
    {
      "type": "select",
      "id": "image_size",
      "label": {
        "de": "Foto-Größe",
        "en": "Image size",
        "es": "Tamaño de la imagen",
        "fr": "Taille des images",
        "it": "Dimensione immagine",
        "ja": "画像のサイズ",
        "pt-BR": "Tamanho da imagem"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fr": "Petite",
            "it": "Piccolo",
            "ja": "小",
            "pt-BR": "Pequeno"
          }
        },
        {
          "value": "medium",
          "label": {
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediana",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "pt-BR": "Médio"
          }
        },
        {
          "value": "large",
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "pt-BR": "Grande"
          }
        },
        {
          "value": "full",
          "label": {
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "pt-BR": "Largura completa"
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "de": "Quantitäts-Auswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "pt-BR": "Exibir seletor de quantidade"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": {
        "de": "Varianten-Etiketten anzeigen",
        "en": "Show variant labels",
        "es": "Mostrar etiquetas de variantes",
        "fr": "Afficher le nom des variantes",
        "it": "Mostra etichette varianti",
        "ja": "バリエーションのラベルを表示する",
        "pt-BR": "Exibir etiquetas de variantes"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "pt-BR": "Exibir fornecedor"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": {
        "de": "Foto-Zoom zulassen",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fr": "Activer le zoom d'image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "pt-BR": "Ativar o zoom da imagem"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fr": "Afficher le bouton de passage à la caisse dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "pt-BR": "Exibir botão dinâmico de finalização da compra"
      },
      "info": {
        "de": "Lässt Kunden direkt bezahlen mit bekannten Bezahlmethoden. [Mehr erfahren](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Permite a los clientes pagar directamente usando un método de pago familiar. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Permettez à vos clients de passer à la caisse avec un moyen de paiement qui leur est familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Fai in modo che i clienti effettuino il check-out direttamente utilizzando un metodo di pagamento a loro conosciuto. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "使い慣れた決済方法を使用して、お客様に直接チェックアウトしてもらいましょう。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Permite que os clientes finalizem os pedidos na hora usando uma forma de pagamento salva. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": true
    }
  ]
}
{% endschema %}

